<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Tree Kel 3 UDINUS 11 loh</title>

<link rel="shortcut icon" href="../static/css/images/icons/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../static/css/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/css/main.css">

{% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>