<link
  rel="shortcut icon"
  href="../static/css/images/icons/favicon.ico"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="../static/css/vendor/bootstrap/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="../static/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="../static/css/css/main.css" />
<title>Decision Tree Kel 3 UDINUS 11</title>

<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title"> {{prediction}} </span>
    </form>
  </div>
</div>
